

.mask{
  -webkit-mask-image: url('../../../public/assets/image/member0.png');
  mask-image: url('../../../public/assets/image/member0.png');
  -webkit-mask-size: 100%;
  background: transparent;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}